<div class= "contanier">
  <header class= "jumbotron">
    <h1>Welcome to Bustle.</h1>
  </header>
  <body>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/31/80/d2/3180d2c319d8400c096696b687f9a5b5.jpg" alt="cool" width="1000px" height="400px">
  {{outlet}}
</body>
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  </footer>
</div>
